# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Temporary files
tempCodeRunnerFile.py

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Archives
*.zip